<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Tuxi Todo App</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="statics/css/app.css" rel="stylesheet" />
</head>
<body>

  {{{body}}}

  <script src="statics/js/app.js"></script>

</body>
</html>
